{% extends 'main.html' %}

{% load static %}

{% block content %}

{% include 'header.html' %}

    <main class="container py-5">
        <div class="col-lg-12">
          <div class="pb-2 mb-3">
            <div class="container col-lg-7">
              <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">AUTHOR REGISTRATION</h5>
              </div>
              <div class="card bg-light">
                <form class="text-start p-5" action="" method="post">
                  {% csrf_token %}
                  <div class="container">
                    {% if messages %}
                    <div class="messages text-center text-success pb-2">
                        {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                        {% endfor %}
                    </div> 
                    {% endif %}                
                    <div class="col-auto mb-4">
                      <label class="form-label text-start text-success fw-bold" for="designation">Title <span class="text-danger fw-normal">(required)</span></label>
                      <select class="form-select"  name="designation" id="designation" aria-label="Default select">
                        <option value="Select" selected>Select</option>
                        <option value="Professor">Professor</option>
                        <option value="Associate Professor">Associate Professor</option>
                        <option value="Assistant Professor">Assistant Professor</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Lecturer">Lecturer</option>
                        <option value="Student">Student</option>                        
                      </select>
                    </div>
                    <div class="col-auto mb-4">
                      <label class="text-start text-success fw-bold" for="institution">Institution / Affiliation <span class="text-danger fw-normal">(required)</span></label>
                      <input class="form-control px-4" type="text" name="institution" id="institution" maxlength="300" placeholder="" required>
                    </div>
                    <div class="col-auto mb-4">
                      <label class="form-label text-start text-success fw-bold" for="country">Country <span class="text-danger fw-normal">(required)</span></label>
                      <input class="form-control px-4" type="text" name="country" id="country" maxlength="300" placeholder="" required>
                    </div>
                    <div class="row">
                      <div class="col-6 mb-4">
                        <label class="form-label text-start text-success fw-bold" for="state">State</label>
                        <input class="form-control px-4" type="text" name="state" id="state" maxlength="300" placeholder="">
                      </div>
                      <div class="col-6 mb-4">
                        <label class="form-label text-start text-success fw-bold" for="city">City</label>
                        <input class="form-control px-4" type="text" name="city" id="city" maxlength="300" placeholder="">
                      </div>
                    </div>
                    <div class="col-auto mb-4">
                      <label class="form-label text-start text-success fw-bold" for="address">Address <span class="text-danger fw-normal">(required)</span></label>
                      <textarea class="form-control px-4" type="text" name="address" id="address" rows="3" maxlength="5000" required></textarea>
                    </div>
                    <div class="col-auto mb-4">
                      <label class="form-label text-start text-success fw-bold" for="mobilbe">Mobile Phone</label>
                      <input class="form-control px-4" type="tel" name="mobile" id="mobile" maxlength="300" placeholder="+234-8011223344">
                    </div>
                    <div class="col-auto d-flex justify-content-center mb-4">
                      <button type="submit" class="btn btn-success me-3">Submit</button>                      
                      <button type="submit" class="btn btn-outline-success">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>    
      </div>            
    </main>

    {% include 'footer.html' %}    

    {% endblock %}