{% extends 'main.html' %}

{% load static %}

{% block content %}


{% include 'header.html' %}

    <main class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-2 pt-3">
          <div class="container">
              <p class="pb-2 fs-3"><a class="text-decoration-none pb-2 fs-3" href="{% url 'Author_Dashboard'%}">{{count}} results</a></p>
              <p class="fw-bold">Sort by:</p>
              {% if title == 'submitted' %}
              <div class="pb-2">
                <a class="text-decoration-none text-success fw-bold fs-6" href="?filter=submitted">Submitted ({{filtercount.sub}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?filter=submitted">Submitted ({{filtercount.sub}})</a>                    
              </div>
              {% endif%}
              {% if title == 'under-review' %}
              <div class="pb-2">
                <a class="text-decoration-none text-success fw-bold fs-6" href="?filter=under-review">Under-Review ({{filtercount.und}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?filter=under-review">Under-Review ({{filtercount.und}})</a>                    
              </div>
              {% endif%}
              {% if title == 'accepted' %}
              <div class="pb-2">
                <a class="text-decoration-none text-success fw-bold fs-6" href="?filter=accepted">Accepted ({{filtercount.acc}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?filter=accepted">Accepted ({{filtercount.acc}})</a>                    
              </div>
              {% endif%}
              {% if title == 'rejected' %}
              <div class="pb-2">
                  <a class="text-decoration-none text-success fw-bold fs-6" href="?filter=rejected">Rejected ({{filtercount.rej}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?filter=rejected">Rejected ({{filtercount.rej}})</a>                    
              </div>
              {% endif%}
              {% if title == 'published' %}
              <div class="pb-2">
                  <a class="text-decoration-none text-success fw-bold fs-6" href="?filter=published">Published ({{filtercount.pub}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?filter=published">Published ({{filtercount.pub}})</a>                    
              </div>
              {% endif%}
          </div>
          <div class="container pt-3">
            <p class="fw-bold">Payment:</p>
            <div class="pb-2">
              {% if payment == 'Paid' %}
              <div class="pb-2">
                <a class="text-decoration-none text-success fw-bold fs-6" href="?payment=Paid">paid ({{paycount.paid}})</a>
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?payment=Paid">Paid ({{paycount.paid}})</a>                    
              </div>
              {% endif %}
              {% if payment == 'Unpaid' %}
              <div class="pb-2">
                <a class="text-decoration-none text-success fw-bold fs-6" href="?payment=Unpaid">Unpaid ({{paycount.unpaid}})</a>                    
              </div>
              {% else %}
              <div class="pb-2">
                <a class="text-decoration-none text-dark fs-6" href="?payment=Unpaid">Unpaid ({{paycount.unpaid}})</a>                    
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="d-flex justify-content-between pt-3 pb-2 mb-3 border-bottom">
            <h3>{{request.user.first_name}}'s Dashboard</h3>
            <a class="btn btn-success rounded-0" href="{% url 'New' %}">Add New Paper</a>
          </div>
          <div class="container">
            <div class="row">
              {% for paper in papers %}
              <div class="col-lg-8">
                <div class="pb-3">
                  <h4><a class="text-decoration-none" href="{% url 'Paper' pk=paper.id %}">{{ paper.title }}</a></h4>
                  <div><span>{{paper.authors_name}}</span></div>
                  <div><span>{{paper.created|date}}</span></div>
                  {% if paper.paper_type == 1 %}
                  <div><span>Research</span></div>
                  {% elif paper.paper_type == 2 %}            
                  <div><span>Review</span></div>
                  {% endif %}                  
                  <div><span>{{paper.abstract}}</span></div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pb-2"><span class="fs-5">Domain: </span><span class="text-success fs-5">{{paper.domain}}</span></div>
                <div class="pb-2"><span class="fs-5">Sub-Domain: </span><span class="text-success fs-5">{{paper.subdomain}}</span></div>
                <div class="pb-2"><span class="fs-5">Status: </span><span class="text-success fs-5">{{paper.status}}</span></div>
                <div class="pb-2"><span class="fs-5">Version: </span><span class="text-success fs-5">{{paper.version}}</span></div>
                <div class="pb-2"><span class="fs-5">Processing Fee: </span><span class="text-success fs-5">{{paper.payment}}</span></div>                
                {% if paper.payment == 'Unpaid' %}                
                  <a href="{{paper.reference_url}}" target="_blank" class="btn btn-success">Pay Now</a>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center pb-4">
          {% if papers.has_previous %}
          <a href="?page={{papers.previous_page_number}}" class="text-decoration-none fs-5">Previous </a>
          <span class="text-dark"> | </span>
          {% endif %}
          <span class="fs-6"><a href="" class="text-decoration-none text-dark fs-5"> Page {{ papers.number }} of {{ papers.paginator.num_pages }}</span>
          {% if papers.has_next%}
          <span class="text-dark"> | </span>                            
          <a href="?page={{papers.next_page_number}}" class="text-decoration-none fs-5"> Next</a>
          {% endif %}
        </div>
      </div>
    </main>

    {% include 'footer.html' %}

    {% endblock %}  