{% extends 'main.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}

    <main class="py-3 ps-5">
      <div class="container-fluid px-5 pb-2 mb-5">
        <div class="py-4">
          <a class="text-dark text-decoration-none fs-5" href="{% url 'Reviewer_Dashboard' %}">Dashboard</a>
        </div>    
        <div class="row">
          <div class="col-lg-8">
            <div><h3 class="text-primary">{{paper.paper.title}}</h3></div>
            <h5 class="fw-normal">{{paper.paper.authors_name}}</h5>
            {% if paper.paper.paper_type == 1 %}
            <h5 class="fw-normal">Research</h5>
            {% elif paper.paper.paper_type == 2 %}            
            <h5 class="fw-normal">Review</h5>
            {% endif %}            
            <h6 class="fw-bold">Abstract</h6>
            <span>{{paper.paper.abstract}}</span>
            <!-- <p class="fw-bold pt-1">ManuScript</p>
            <div>
              <object
                data='127.0.0.1:8000/media/papers_file/1-s2.0-S1877050921020172-main_R9kRzKw.pdf'
                type="application/pdf"
                width="500"
                height="300"
              >        
              </object>
            </div> -->
            <div class="d-flex justify-content-evenly pt-4">
              <a href="/media/{{paper.manuscript_pdf}}" target="_blank" class="btn btn-success rounded-0">View Manuscript</a>
              <a href="/media/{{paper.supplimentary_file}}" target="_blank" class="btn btn-success rounded-0">View Paper</a>
            </div>
            <div class="container pt-2">
              {% if comments.count > 0 %}
              <h4 class="pt-4 fw-normal">Comments on Paper</h4>
              {% for comment in comments %}
                <div class="px-3 py-2"><span class="fs-6"><span class="text-success">Paper Version: </span>{{comment.paper.version}}</span></div>
                <div class="px-3 py-2"><span class="fs-6"><span class="text-success">by: </span>{{comment.reviewer.first_name}}</span></div>                
                <div class="px-3 py-2"><span class="fs-6"><span class="text-success">Comment: </span>{{comment.comment}}</span></div>
                  {% if comment.supplimentary_file %}
                  <div class="d-flex justify-content-evenly pt-4">
                    <a href="/media/{{comment.supplimentary_file}}" target="_blank" class="btn btn-success rounded-0">Paper Corrections</a>
                  </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <form class="text-start p-5" action="{% url 'Reviewer_Comment' pk=paper.paper.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div>
                <h5 class="pt-4 fw-normal">Add a Comment</h5>                  
                {% if messages %}
                <div class="messages text-center text-success pb-2">
                    {% for message in messages %}
                    <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                    {% endfor %}
                </div> 
                {% endif %}                
                <div class="col-auto mb-4">
                  <label class="form-label text-start text-success fw-bold" for="comment">Comment <span class="text-danger fw-normal">(required)</span></label>
                  <textarea class="form-control px-4" type="text" name="comment" id="comment" rows="3" maxlength="5000" required></textarea>
                </div>
                <div class="col-auto mb-5">
                  <label class="form-label text-start text-success fw-bold" for="supplimentary_file">Paper File <span class="text-dark fw-normal">(doc)</span></label>
                  <input class="form-control form-control-lg" type="file" name="supplimentary_file" id="supplimentary_file">
                </div>
                <div class="col-auto d-flex justify-content-center mb-4">
                  <button type="submit" class="btn btn-success me-3">Submit</button>                      
                  <button type="submit" class="btn btn-outline-success">Cancel</button>
                </div>
              </div>
            </form>
         </div>
          <div class="col-lg-4">
            <div class="pb-2"><span class="fs-5">Domain: </span><span class="text-success fs-5">{{paper.paper.domain}}</span></div>
            <div class="pb-2"><span class="fs-5">Sub-Domain: </span><span class="text-success fs-5">{{paper.paper.subdomain}}</span></div>
            <div class="pb-2"><span class="fs-5">Status: </span><span class="text-success fs-5">{{paper.paper.status}}</span></div>
            <div class="pb-2"><span class="fs-5">Version: </span><span class="text-success fs-5">{{paper.paper.version}}</span></div>
            <div class="container text-center">
              {% if messages %}
              <div class="messages text-danger pb-1 pt-3 fs-5">
                  {% for message in messages %}
                  <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                  {% endfor %}
              </div>
              {% else %}
                <div class="pt-5"></div>
              {% endif %}
              <h5 class="pb-3 text-center">Decision on Reviewing</h5>
              {% if paper.review_status == 'No Decision' %}
                <form action="" method="post">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-success" name="decision" id="decision" value="Under-Review">Interested</button>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-success" name="decision" id="decision" value="Not-Interested">Not Interested</button>
                  </div>
                </div>
                </form>      
              {% elif paper.review_status == 'Not-Interested' and reviewers_count > 2 %}
              <div class="text-center">
                <h5 class="pb-3 text-center">{{paper.review_status}}</h5>
                <p>wan't to Review ? </p>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-6">
                      <select class="form-select"  name="decision" id="decision" aria-label="Default select" required>
                        <option value="" selected>Select</option>
                        <option value="Under-Review">Interested</option>                
                      </select>
                    </div>
                    <div class="col-6">
                      <button type="submit" class="btn btn-success">Review</button>
                    </div>
                  </div>
                </form>
              </div>
              {% elif paper.review_status == 'Under-Review' %}
              <div class="text-center">
                <h5 class="pb-3 text-center">{{paper.review_status}}</h5>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-6">
                      <select class="form-select"  name="decision" id="decision" aria-label="Default select" required>
                        <option value="" selected>Select</option>
                        <option value="Accepted">Accept Paper</option>
                        <option value="Rejected">Reject Paper</option>                
                      </select>
                    </div>
                    <div class="col-6">
                      <button type="submit" class="btn btn-success">Decide</button>
                    </div>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
      </div>            
    </main>

    {% include 'footer.html' %}    

    {% endblock %}