<div class="row pt-5">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="container">
            <form>                    
                <div class="row pb-4">
                    <div class="col-lg-12">
                        <small>Find articles with these terms</small>                    
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-lg-8">
                        <small>In this Journal or Book title</small>
                        <input type="text" class="form-control" id="">                        
                    </div>
                    <div class="col-lg-4">
                        <small>Year(s)</small>
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-lg-8">
                        <small>Author(s)</small>                            
                        <input type="text" class="form-control" id="">                        
                    </div>
                    <div class="col-lg-4">
                        <small>Author(s) affiliation</small>
                        <input type="text" class="form-control" id="">
                    </div>
                </div>                        
                <div class="row pb-4">
                    <div class="col-lg-4">
                        <small>Volume(s)</small>                            
                        <input type="text" class="form-control" id="">                        
                    </div>
                    <div class="col-lg-4">
                        <small>Issue(s)</small>                            
                        <input type="text" class="form-control" id="">                        
                    </div>
                    <div class="col-lg-4">
                        <small>Page(s)</small>                            
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <a style="text-decoration: none;" href="">>></a>
                <a class="text-dark" style="text-decoration: none;" href="">show all fields</a>
                <div class="d-flex justify-content-end pt-4 pb-4">
                    <button class="btn btn-outline-success me-3" type="reset">Cancel</button>
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </form>                                        
            <h4 class="pb-4">Recent Searches</h4>
            <p><a style="text-decoration: none;" href="">search 1</a></p>
            <p><a style="text-decoration: none;" href="">search 1</a></p>
            <p><a style="text-decoration: none;" href="">search 1</a></p>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>
