{% extends 'main.html' %}

{% load static %}

{% block content %}


{% include 'header.html' %}

    <main class="container-fluid py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
          <a class="text-dark text-decoration-none fs-5" href="{% url 'Editor_Dashboard' %}">Dashboard</a> <span class="fs-5"> > </span> <a class="text-dark text-decoration-none fs-5" href="{% url 'Paper' pk=paper.id %}">Paper</a>
          <div class="d-flex justify-content-between pt-3 pb-2 mb-3 border-bottom">
            <div>
              <span class="fs-3">History: </span><span class="fs-5 text-success">{{paper.title}}</span>
            </div>
            <div>
              <span class="fs-3">{{count}} Version's</span>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              {% if count == 0 %}
              <div class="text-center text-success p-5">
                <h4>No Changes Made to this paper since submitted</h4>
              </div>
              {% else %}
                {% for paper in papers %}
                <div class="col-lg-10">
                  <div class="pb-3">
                    <h4><a class="text-decoration-none" href="{% url 'PaperHistory' pk=paper.id %}">{{ paper.title }}</a></h4>
                    <div><span>{{paper.authors_name}}</span></div>
                    <div><span>{{paper.created|date}}</span></div>
                    {% if paper.paper_type == 1 %}
                    <div><span>Research</span></div>
                    {% elif paper.paper_type == 2 %}            
                    <div><span>Review</span></div>
                    {% endif %}                    
                    <div><span>{{paper.abstract}}</span></div>
                  </div>
                </div>
                <div class="col-lg-2 d-flex justify-content-end">
                  <div class="">
                    <span>Paper Version: {{paper.version}}</span>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include 'footer.html' %}

    {% endblock %}  