{% extends 'main.html' %}

{% load static %}

{% block content %}
{% include 'header.html' %}

    <main class="container pt-5">
        <div class="pb-2 mb-3">
            <div class="container" style="width: 600px !important;">
                <div class="card py-2 px-5 bg-success">
                <h5 class="text-white text-center">New to Yumusuk Journals? Register here...</h5>
                </div>
                <div class="card bg-light">
                <form class="text-start p-5" action="" method="post">
                    {% csrf_token %}
                    <div class="container">
                        {% if messages %}
                        <div class="messages text-center text-success pb-2">
                            {% for message in messages %}
                            <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</span>
                            {% endfor %}
                        </div> 
                        {% endif %}                
                            <div class="col-auto mb-4">
                            <label class="form-label text-start text-success fw-bold" for="first_name">First name <span class="text-danger fw-normal">(required)</span></label>
                            <input class="form-control px-4" type="text" name="first_name" id="first_name" style="height: 50px !important;" maxlength="300" placeholder="Enter Your first name here" required>
                        </div>
                        <div class="col-auto mb-4">
                            <label class="form-label text-start text-success fw-bold" for="last_name">Last name <span class="text-danger fw-normal">(required)</span></label>
                            <input class="form-control px-4" type="text" name="last_name" id="last_name" style="height: 50px !important;" maxlength="300" placeholder="Enter your last name here" required>
                        </div>
                        <div class="col-auto mb-4">
                            <label class="form-label text-start text-success fw-bold" for="email">Email <span class="text-danger fw-normal">(required)</span></label>
                            <input class="form-control px-4" type="email" name="email" id="email" style="height: 50px !important;" maxlength="300" placeholder="Enter email address here" required>
                        </div>
                        <div class="col-auto mb-4">
                            <label class="form-label text-start text-success fw-bold" for="password">Password <span class="text-danger fw-normal">(required)</span></label>
                            <input class="form-control px-4" type="password" name="password" id="password" style="height: 50px !important;" minlength="6"  placeholder="Enter your password here"required>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="terms" name="terms" required>
                            <label class="form-check-label" for="terms">Agree with yumsuk journals <a href="" class="text-decoration-none">terms and conditions</a> </label>                    
                        </div>                                
                        <div class="text-center mb-2">
                            <button type="submit" class="btn btn-success me-4">Submit</button>
                            <button type="reset" class="btn btn-outline-success">Clear</button>
                        </div>
                        <div class="text center d-flex justify-content-center">
                            <span>Already have an account? <a href="{% url 'Signin' %}" class="text-decoration-none">Sign-in</a></span>
                        </div>
                    </div>  
                </form>
                </div>
            </div>
        </div>    
    </main>

    {% include 'footer.html' %}    

    {% endblock %}